@import "../../styles/design.theme.var.scss";
.buttonLayout {
  @include buttonStyle();
}
.buttonLayout:hover,
:focus {
  background-color: $button-background-color-hover;
  transform: scale(1.1);
  transition-duration: 0.5s;
}
