@import "../../../styles/design.theme.var.scss";
.outerWrapper {
  background-color: $primary-background-color;
  padding-bottom: 32px;
  .innerWrapper {
    .subHeader {
      @include labelStyle($primary-font, null, bold, null);
      padding-top: 24px;
      line-height: 20px;
      text-align: center;
    }
    .header {
      @include labelStyle($primary-font, 32px, bold, null);
      padding-top: 24px;
      line-height: 20px;
      text-align: center;
    }
    .news {
      .subHeading {
        @include labelStyle($primary-font, null, bold, null);
        padding-top: 24px;
        line-height: 20px;
        text-align: center;
      }
      .expt {
        @include labelStyle($primary-font, 32px, bold, null);
        padding-top: 24px;
        line-height: 20px;
        text-align: center;
      }
    }
    .cardContainer {
      @include flexStyle(row);
      justify-content: space-evenly;
      column-gap: 24px;
      padding-top: 50px;
      .cardWrapper {
        @include flexStyle(row);
        width: 220px;
        border: 2px solid $border-color;
        border-radius: 20px;
      }
    }
  }
}
