@import "../../../styles/design.theme.var.scss";
@import "../../../globalMedia.scss";
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: $tertiary-text-color-black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: $tertiary-text-color-black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
@include for-phone-only {
  .slider {
    height: auto;
  }
  .left-arrow {
    left: 0;
  }
  .right-arrow {
    right: 0;
  }
  .slide.active {
    width: calc(100% - 32px);
    padding: 24px 52px;
    & > :first-child {
      width: 100%;
      padding-top: 24px;
      height: auto;
    }
  }
}
@include for-ipad-portrait {
  .slider {
    height: 62vh;
  }
  .left-arrow {
    left: 0;
  }
  .right-arrow {
    right: 0;
  }
  .slide.active {
    & > :first-child {
      width: calc(100% - 30%);
      margin: auto;
      display: flex;
    }
  }
}
