@import "../../../styles/design.theme.var.scss";
.outerWrapper {
  background-color: $primary-background-color;
  border: 2px solid $border-color;
  border-radius: 20px;
  .innerWrapper {
    padding: 24px;
    .header {
      @include flexStyle(row);
      justify-content: space-between;
      .headerTextArea {
        @include flexStyle(column);
        align-self: center;
        .headerText {
          @include labelStyle($primary-font, 14px, bold, null);
        }
        .headerDesc {
          @include labelStyle($secondary-font, null, 600, $text-color-grey);
          line-height: 30px;
        }
      }
      .price {
        .priceBody {
          @include labelStyle($primary-font, 40px, bold, null);
        }
      }
    }
    .separator {
      height: 1px;
      border-radius: 2px;
      background-color: $backgroud-color-grey;
      margin: 16px 0;
    }
    .body {
      @include flexStyle(column);
      .listItem {
        @include flexStyle(column);
        .cardContainer {
          @include flexStyle(row);
          .icon {
            width: calc(100% - 77%);
            & > :first-child {
              height: 30px;
            }
          }
          .value {
            @include labelStyle($primary-font, 14px, bold, null);
            align-self: center;
          }
          .disbaledValue {
            @include labelStyle($primary-font, 14px, bold, $text-color-grey);
            align-self: center;
          }
        }
      }
      .btnWrapper {
        padding-top: 24px;
        .getStartedButton {
          .buttonText {
            @include buttonTextStyle();
          }
        }
      }
    }
  }
}
.outerWrapper:hover {
  border: 2px solid $border-color-hover;
  border-radius: 20px;
  background-color: $backgrund-color-card-hover;
}
