@import "../../../styles/design.theme.var.scss";
@import "../../../globalMedia.scss";
.outerWrapper {
  background-color: $background-color-light-grey;
  height: 600px;
  .innerWrapper {
    .subText {
      text-align: center;
      padding-bottom: 6px;
      padding-top: 10px;
      .text {
        @include labelStyle($primary-font, 14px, bold, null);
        line-height: 20px;
      }
    }
    .heading {
      @include labelStyle($primary-font, 22px, bold, null);
      text-align: center;
      line-height: 20px;
      padding-bottom: 4px;
    }
    .cardWrapper {
      width: 1000px;
      align-items: center;
      align-self: center;
      display: flex;
      margin: auto;
      padding-top: 100px;
      column-gap: 24px;
      .cardContainer {
        width: 310px;
      }
    }
  }
}
@include for-phone-only {
  .outerWrapper {
    height: auto;
    padding-top: 24px;
    .innerWrapper {
      .cardWrapper {
        flex-direction: column;
        width: auto;
        padding-top: 50px;
        .cardContainer {
          padding-bottom: 24px;
        }
      }
    }
  }
}
@include for-ipad-portrait {
  .outerWrapper {
    .innerWrapper {
      .cardWrapper {
        width: auto;
        justify-content: space-around;
        .cardContainer {
          width: 216px;
        }
      }
    }
  }
}
