@import "../../styles/design.theme.var.scss";
@import "../../globalMedia.scss";
.wrapper {
  overflow-x: hidden;
  @include flexStyle(column);
  justify-content: center;
  width: 100%;
  .innerWrapper {
    padding-top: 60px;
    width: 1200px;
    align-self: center;
  }
}

@include for-phone-only {
  .wrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
@include for-ipad-portrait {
  .wrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
@include for-ipad-landscape {
  .wrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
@include for-ipadPro-portrait {
  .wrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
@include for-ipadPro-landscape {
  .wrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
