@import "../../../styles/design.theme.var.scss";
.outerWrapper {
  .imgContainer {
    height: 100px;
    @include roundedTopBorderStyle();
    & > :first-child {
      height: 100px;
      width: 220px;
      @include roundedTopBorderStyle();
    }
  }
  .title {
    @include labelStyle($primary-font, 22px, bold, null);
    padding: 12px;
    line-height: 24px;
    text-align: center;
  }
  .desc {
    @include labelStyle($primary-font, 12px, bold, $text-color-grey);
    line-height: 20px;
    padding: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.outerWrapper:hover {
  background-color: $backgrund-color-card-hover;
  cursor: pointer;
  border: 1px solid $border-color-hover;
  border-radius: 20px;
}
