@import "../../styles/design.theme.var.scss";
@import "../../../src/globalMedia.scss";
.outerWrapper {
  @include flexStyle(column);
  align-items: center;
  align-self: center;
  height: 56px;
  width: 100%;
  box-shadow: 0 6px 10px -5px $box-shadow-header;
  .innerWrapper {
    @include flexStyle(row);
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    height: 56px;
    .title {
      @include labelStyle($primary-font, null, bold, null);
    }
    .menu {
      font-family: $secondary-font;
      width: max-content;
      @include flexStyle(row);
      .menuOpt {
        @include flexStyle(row);
        & > :first-child {
          @include flexStyle(row);
          & > :first-child {
            @include flexStyle(row);
            list-style: none;
            .option {
              padding: 6px;
              @include labelStyle(null, 12px, 600, null);
              cursor: pointer;
              & > :first-child {
                color: $tertiary-text-color-black;
              }
              & > :first-child:hover,
              :focus {
                color: $text-color-hover;
                background-color: white;
              }
            }
          }
        }
      }
      .img {
        align-self: center;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
        cursor: pointer;
        & > :first-child:hover,
        :focus {
          transform: scale(1.5);
        }
      }
      .btnWrapper {
        padding-left: 26px;
        align-self: center;
        .getStartedButton {
          .buttonText {
            @include buttonTextStyle();
          }
        }
      }
    }
  }
}

@include for-phone-only {
  .outerWrapper {
    .innerWrapper {
      width: 100%;
    }
  }
}
@include for-ipadPro-portrait {
  .outerWrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
@include for-ipadPro-landscape {
  .outerWrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}

@include for-ipad-portrait {
  .outerWrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
@include for-ipad-landscape {
  .outerWrapper {
    .innerWrapper {
      width: calc(100% - 32px);
    }
  }
}
