@import "../../styles/design.theme.var.scss";
.wrapper {
  background: $background-color-secondary;
  width: 100%;
  display: flex;
  justify-content: center;
  .innerWrapper {
    width: 1200px;
    @include flexStyle(column);
    padding-top: 24px;
    .header {
      @include flexStyle(row);
      justify-content: space-between;
      .headerText {
        @include labelStyle(
          $primary-font,
          28px,
          500,
          $secondary-text-color-white
        );
      }
      .btnWrapper {
        & > :first-child {
          background: $primary-background-color;
          border: none;
          border-radius: 7px;
          @include labelStyle(null, 16px, bold, $text-color-purple);
          min-height: 36px;
          padding: 0;
          width: 90px;
          .buttonText {
            @include buttonTextStyle();
          }
        }
      }
    }
    .separator {
      height: 1px;
      border-radius: 2px;
      margin: 16px 0;
      border-bottom: 2px solid $border-white;
    }
    .body {
      @include flexStyle(row);
      @include labelStyle(
        $secondary-font,
        null,
        500,
        $secondary-text-color-white
      );
      padding-top: 52px;
      column-gap: 30px;
      .contact {
        @include flexStyle(column);
        width: 300px;
        .subTitle {
          @include labelStyle(
            $primary-font,
            28px,
            bold,
            $secondary-text-color-white
          );
          padding-bottom: 24px;
        }
        .mail {
          @include flexStyle(row);
          @include labelStyle(null, 14px, 500, null);
          column-gap: 6px;
          padding-bottom: 4px;
        }
        .number {
          @include flexStyle(row);
          @include labelStyle(null, 14px, 500, null);
          column-gap: 6px;
          padding-bottom: 4px;
        }
        .address {
          @include labelStyle(null, 14px, 500, null);
          padding-top: 10px;
        }
      }
      .linksSection {
        @include flexStyle(column);
        .extraLinks {
          @include labelStyle(
            $primary-font,
            16px,
            500,
            $secondary-text-color-white
          );
          padding-bottom: 24px;
        }
        .links {
          @include flexStyle(row);
          column-gap: 50px;
          .linkSection1 {
            .linkContainer {
              .linkValue {
                line-height: 24px;
              }
            }
          }
        }
      }
      .posts {
        @include flexStyle(column);
        width: 300px;
        .postHeading {
          @include labelStyle(
            $primary-font,
            16px,
            500,
            $secondary-text-color-white
          );
          padding-bottom: 24px;
        }
        .postContainer {
          @include flexStyle(column);
          .postWrapper {
            @include flexStyle(row);
            column-gap: 24px;
            padding-bottom: 18px;
            .imgWrapper {
              & > :first-child {
                height: 50px;
                width: 50px;
                border: 1px solid transparent;
                border-radius: 5px;
              }
            }
            .content {
              @include flexStyle(column);
              .title {
                font-size: 14px;
                line-height: 24px;
              }
              .date {
                font-size: 14px;
                line-height: 24px;
                @include flexStyle(row);
                column-gap: 6px;
                align-items: center;
                & > :first-child {
                  margin-bottom: 2px;
                }
              }
            }
          }
        }
      }
      .media {
        @include flexStyle(column);
        .mediaHeader {
          @include labelStyle(
            $primary-font,
            16px,
            500,
            $secondary-text-color-white
          );
          padding-bottom: 24px;
        }
        .textbox {
          background-color: $primary-background-color;
          width: 280px;
          height: 38px;
          border: 1px solid transparent;
          border-radius: 20px;
          @include flexStyle(row);
          justify-content: space-between;
          & > :first-child {
            padding-left: 6px;
            height: 30px;
            margin-left: 12px;
            border: 1px solid transparent;
            outline: none;
          }
          & > :last-child {
            align-self: center;
            margin-right: -30px;
            cursor: pointer;
          }
          & > :last-child:hover,
          :focus {
            transform: scale(1.3);
          }
          & > :first-child:hover,
          :focus {
            background-color: $primary-background-color;
            border: 1px solid transparent;
            transform: none;
          }
        }
        .update {
          padding-top: 24px;
          @include labelStyle(null, 14px, 500, null);
        }
      }
    }
  }
}
