@import "../../../styles/design.theme.var.scss";
.wrapper {
  .block1 {
    @include flexStyle(row);
    .text {
      width: 600px;
      @include flexStyle(column);
      align-self: center;
      .label {
        @include labelStyle($primary-font, 42px, bold, null);
      }
      .desc {
        @include labelStyle($secondary-font, null, 600, $text-color-dark-gray);
        padding-top: 24px;
        width: calc(100% - 30%);
      }
      .btnWrapper {
        padding-top: 24px;
        .getStartedButton {
          .buttonText {
            @include buttonTextStyle();
          }
        }
      }
    }
    .imgSection {
      width: 400px;
      height: 400px;
      margin-left: 140px;
      & > :first-child {
        width: 400px;
        height: 400px;
      }
    }
  }
  .block2 {
    @include flexStyle(column);
    align-items: center;
    .services {
      @include labelStyle($primary-font, 14px, bolder, null);
      padding-bottom: 20px;
    }
    .desc1 {
      @include labelStyle($primary-font, 26px, bolder, null);
      width: 500px;
      text-align: center;
      line-height: 36px;
    }
    .cardsWrapper {
      @include flexStyle(row);
      padding-top: 60px;
      width: 100%;
      justify-content: space-between;
      .cardContainer {
        width: 320px;
        height: 340px;
        display: flex;
        justify-content: center;
        border: 3px solid transparent;
        border-radius: 20px;
      }
      .cardContainer:hover {
        background-color: $backgrund-color-card-hover;
        border: 3px solid $border-color-hover;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
  .block3 {
    padding-top: 24px;
    @include flexStyle(row);
    width: 100%;
    .companyData {
      width: calc(100% - 50%);
      .subHeading {
        @include labelStyle($primary-font, 14px, bold, null);
        line-height: 30px;
      }
      .subHeading2 {
        @include subHeadingStyle();
      }
      .comDesc {
        @include descStyle(null, null);
        width: 500px;
      }
      .btnWrapper {
        padding-top: 24px;
        .getStartedButton {
          .buttonText {
            @include buttonTextStyle();
          }
        }
      }
    }
    .imageSec {
      display: flex;
      justify-content: center;

      .img1 {
        & > :first-child {
          height: 300px;
          margin-left: 60px;
        }
      }
    }
  }
  .block4 {
    @include flexStyle(row);
    padding-top: 24px;
    .img2 {
      display: flex;
      position: relative;
      .imgClass {
        & > :first-child {
          height: 300px;
          width: 700px;
          margin-left: -74px;
          margin-top: -20px;
        }
      }
      .counter {
        position: absolute;
        height: 200px;
        background: $primary-background-color;
        width: 90px;
        border: 2px solid $border-color-hover;
        border-radius: 20px;
        right: 26px;
        bottom: 0;
        .innerCard {
          @include flexStyle(column);
          padding: 14px;
          align-self: center;
          align-items: center;
          justify-content: center;
          position: relative;
          .count {
            @include labelStyle($primary-font, 32px, bold, null);
          }
          .countDesc {
            @include descStyle(14px, 600);
            text-align: center;
          }
          .acc {
            @include labelStyle($primary-font, 32px, bold, null);
          }
          .accDesc {
            @include descStyle(14px, 600);
            text-align: center;
          }
        }
      }
    }
    .data {
      .subHeadingBussiness {
        @include labelStyle($primary-font, 14px, bold, null);
        line-height: 30px;
      }
      .headingBussiness {
        @include subHeadingStyle();
      }
      .bussinessDesc {
        @include descStyle(null, null);
        width: 500px;
      }
      .btnWrapper {
        padding-top: 24px;
        .getStartedButton {
          .buttonText {
            @include buttonTextStyle();
          }
        }
      }
    }
  }
}
